.devs-front-benk{

}

/*Small*/

@media screen and (max-width: 768px) {
  .ui.center.aligned.header.title-dev{
    font-size: 40px;
    margin: 20px 0px 30px 0px;
  }

  .ui.horizontal.header.divider.back-end, .ui.horizontal.header.divider.front-end{
    font-size: 25px;
    margin-bottom: 25px;
  }
  .ui.grid.container.link-redes{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dev-back, .dev-front{
    padding-top: 10px;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ui.center.aligned.header.title-dev{
    font-size: 40px;
    margin: 20px 0px 30px 0px;
  }

  .ui.horizontal.header.divider.back-end, .ui.horizontal.header.divider.front-end{
    font-size: 25px;
    margin-bottom: 25px;
  }
  .ui.grid.container.link-redes{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dev-back, .dev-front{
    padding-top: 10px;
  }
}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .ui.center.aligned.header.title-dev{
    font-size: 40px;
    margin: 20px 0px 30px 0px;
  }

  .ui.horizontal.header.divider.back-end, .ui.horizontal.header.divider.front-end{
    font-size: 25px;
    margin-bottom: 25px;
  }
  .ui.grid.container.link-redes{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dev-back, .dev-front{
    padding-top: 10px;
  }
}

/* > Computer*/

@media screen and (min-width: 1200px) {

  .ui.center.aligned.header.title-dev{
    font-size: 40px;
    margin: 20px 0px 30px 0px;
  }

  .ui.horizontal.header.divider.back-end, .ui.horizontal.header.divider.front-end{
    font-size: 25px;
    margin-bottom: 25px;
  }
  .ui.grid.container.link-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .dev-back, .dev-front{
    padding-top: 10px;
  }
}
