body {}

.laravel{
  color: #e74430;
}
.vue{
  color: rgb(79, 192, 141);
}
.bootstrap{
  color: #563d7c;
}



/*Small*/

@media screen and (max-width: 768px) {
  .ui.center.aligned.header{
    font-size: 13px;
    font-weight: lighter;
    margin-top: 0;
  }
  .ui.center.aligned.header.title-tecnologia{
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
  }
  .ui.center.aligned.header.title-principal{
    font-size: 40px;
  }
  .laravel, .vue, .bootstrap{
    font-size: 30px;
  }

}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ui.center.aligned.header {
    font-size: 13px;
    font-weight: lighter;
    margin-top: 0;
  }
  .ui.center.aligned.header.title-tecnologia {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  .ui.center.aligned.header.title-principal {
    font-size: 30px;
  }

}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {

  .ui.center.aligned.header.title-tecnologia {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .ui.center.aligned.header.title-principal {
    font-size: 40px;
  }
  .laravel, .vue, .bootstrap{
    font-size: 23px;
  }

}

/* > Computer*/

@media screen and (min-width: 1200px) {

  .ui.center.aligned.header.title-tecnologia {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .ui.center.aligned.header.title-principal {
    font-size: 45px;
  }
  .laravel, .vue, .bootstrap{
    font-size: 25px;
  }
  .ui.center.aligned.header{
    font-weight: lighter;
  }

}
