body {}



/*Small*/

@media screen and (max-width: 768px) {

}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {

}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .git, .github{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.center.aligned.header.versonamento{
    font-weight: lighter;
  }

}

/* > Computer*/

@media screen and (min-width: 1200px) {
  .git, .github{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ui.center.aligned.header.versonamento{
    font-weight: lighter;
  }


}
