body {}



/*Small*/

@media screen and (max-width: 767px) {
  .git, .github{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.center.aligned.header.versonamento{
    font-weight: lighter;
    margin-bottom: 30px;
    font-size: 25px;
  }
  .ui.center.aligned.header.title-versonamento{
    margin: 30px 0 20px 0;
    font-size: 40px;
  }
  .sub-git, .sub-github{
    font-size: 30px;
  }

}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {
  .git, .github{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.center.aligned.header.title-versonamento{
    margin: 30px 0 20px 0;
    font-size: 40px;
  }
  .ui.center.aligned.header.versonamento{
    font-weight: lighter;
    margin-bottom: 30px;
  }

}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .git, .github{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.center.aligned.header.versonamento{
    font-weight: lighter;
  }
  .ui.center.aligned.header.title-versonamento{
    margin: 30px 0 20px 0;
    font-size: 40px;
  }

}

/* > Computer*/

@media screen and (min-width: 1200px) {
  .git, .github{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ui.center.aligned.header.versonamento{
    font-weight: lighter;
  }
  .ui.center.aligned.header.title-versonamento{
    margin: 30px 0 20px 0;
    font-size: 40px;
  }


}
