body {}

.laravel {
  color: #fff;
}

.vue {
  color: #fff;
}

.bootstrap {
  color: #fff;
}
.read-docs{
  color: #fff;
}
.laravel:hover, .vue:hover, .bootstrap:hover, .head-docs:hover{
  text-decoration: none;
  color: #fff;
}
em{
  color: red;
  border: 1px solid #ccc;
  padding: 2px 5px 2px 5px;
  border-radius: 7px;
}
p{
  width: 500px;
  word-break: keep-all;
}
/*Small*/

@media screen and (max-width: 768px) {

}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {

}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {


}

/* > Computer*/

@media screen and (min-width: 1200px) {

  .ui.horizontal.header.divider {
    margin: 25px 0 25px 0;
  }
  .ui.center.aligned.header.title-principal {
    font-size: 50px;
    margin: 30px 0 20px 0;
  }

/*docs*/

.ui.center.aligned.header.title-docs{
  margin: 50px 0 25px 0;
}
.btn-docs{
  float: right;
  display: flex;
  margin-right: 100px;
  margin-top: 100px;
}
}
