.devs-front-benk{

}

/*Small*/

@media screen and (max-width: 768px) {

}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {

}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .title-dev{
    font-size: 50px;
  }

}

/* > Computer*/

@media screen and (min-width: 1200px) {

  .ui.center.aligned.header.title-dev{
    font-size: 45px;
    margin: 10px 0px 30px 0px;
  }
  .sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column.back{
  /*  background-color: #006D6D;
    /*border-right: dashed 2px red;*/
  }
  .sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column.front{
  /*  background-color: #00C9C9;*/
  }
  .ui.horizontal.header.divider.back-end, .ui.horizontal.header.divider.front-end{
    font-size: 25px;
    margin-bottom: 25px;
  }


  .ui.grid.container.link-redes{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
