body {}

/*Small*/

@media screen and (max-width: 767px) {
  .git, .github {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.center.aligned.container.versonamento {
    font-weight: lighter;
    margin-bottom: 25px;
      font-size: 15px;
  }
  .ui.center.aligned.header.title-versonamento {
    margin: 50px 0 20px 0;
    padding-top: 20px;
    font-size: 30px;
  }
  .sub-git, .sub-github {
    font-size: 25px;
  }
  .versonamento-git-github {
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    background: linear-gradient(to right, #ffffff, #abbaab);
    }
     /*commit*/

}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {
  .git, .github {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.center.aligned.container.versonamento {
    font-weight: lighter;
    margin-bottom: 25px;
      font-size: 15px;
  }
  .ui.center.aligned.header.title-versonamento {
    margin: 50px 0 20px 0;
    padding-top: 20px;
    font-size: 30px;
  }
  .sub-git, .sub-github {
    font-size: 25px;
  }
  .versonamento-git-github {
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    background: linear-gradient(to right, #ffffff, #abbaab);
    }
     /*commit*/

}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .git, .github {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.center.aligned.container.versonamento {
    font-weight: lighter;
    margin-bottom: 25px;
      font-size: 17px;
  }
  .ui.center.aligned.header.title-versonamento {
    margin: 50px 0 20px 0;
    padding-top: 20px;
    font-size: 30px;
  }
  .sub-git, .sub-github {
    font-size: 25px;
  }
  .versonamento-git-github {
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    background: linear-gradient(to right, #ffffff, #abbaab);
    }
     /*commit*/

}

/* > Computer*/

@media screen and (min-width: 1200px) {
  .git, .github {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.center.aligned.container.versonamento {
    font-weight: lighter;
    margin-bottom: 25px;
    font-size: 18px;
  }
  .ui.center.aligned.header.title-versonamento {
    margin: 50px 0 20px 0;
    padding-top: 20px;
    font-size: 30px;
  }
  .sub-git, .sub-github {
    font-size: 25px;
  }
  .versonamento-git-github {
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    background: linear-gradient(to right, #ffffff, #abbaab);
    }
     /*commit*/

}
